.calendar{
  position: absolute;
  transform: translateX(1%);
  text-align: center;
  border: 2px;
  border-color: black;

  &__week{
  		display:inline-block;
      /*margin-right:5px;*/
      width: auto;
  }


  &__day{
		display:inline-block;
    /*margin-bottom: 5px;*/
    margin:3px;
    color: white;
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    line-height: .0rem;
  }

  &__set-width {
    padding: 5px;
    width: auto;
    /*height: 40px;*/
  }

  &__red{
    background-color: red;
  }

  &__green{
    background-color: green;
  }
}
